<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Blog{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
  <header><h1>Django Blog</h1></header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <form method="get" action="{% url 'search-posts' %}">
  <input type="text" name="q" placeholder="Search...">
  <button type="submit">Search</button>
</form>

</body>
</html>

